# Python
__pycache__/
*.pyc
.venv/
venv/
venv_engagement/
venv_mlp/
venv310/

# Dataset
data/train/
data/val/
data/test/
data/raw/

# Samples
calibration/samples/

# Processed Data (Numpy arrays)
processed_data/X_train.npy
processed_data_v2_1/X_test_v2_1.npy
# Catatan: Jika Anda ingin mengabaikan SEMUA file .npy di masa depan, Anda cukup menambahkan: *.npy

# Model files
models/*.pkl

# Media
*.jpg
*.png
*.mp4
*.csv

# Jupyter
.ipynb_checkpoints/
training/FINAL_MODEL.ipynb